
.imageContainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position: relative;
  width: 300px; /* 调整您想要的图片容器宽度 */
  height: 200px; /* 调整您想要的图片容器高度 */
  overflow: hidden;
  border-radius:1rem;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease; /* 添加平滑过渡效果 */
}

.imageContainer:hover img {
  border-radius: 1rem; /* 调整悬停时图片圆角大小 */
  transform: scale(1.2); /* 调整悬停时图片放大倍数 */
}

span:hover{
  cursor:pointer;
}


